*{
    margin:0;
}
body{
    background-color:#eeedec;
    /* text-align: center; */
    letter-spacing:0.2em;
    font-size: 0.8em;
}
.container{
    max-width:400px;
}
.icon{
    border-radius: 50%;
    position: relative;
    top: -50px;
    width: 100px;
    margin-bottom: -50px;
}